#config_container {
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.30);
	box-shadow: 0px 0px 8px rgba(0,0,0,.30);
}

#config_output {
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

#config_form {
	width: 250px;
	height: 390px;
	padding-left: 20px;
	float: left;
	border-right: 1px dotted #999;
}

#text_config_output {
	width: 480px;
	height: auto;
	float: left;
}

#text_config_output p {
	margin-left: 30px;
	padding-top: 5px;
}

.config_heading {
	width: 750px;
	height: 25px;
	margin: 0 auto;
}

.config_heading h2 {
	font-size: 18px;
	text-align: center;
}
#config_form h2
{
font-size: 18px;
border-bottom: 1px dotted #333;
padding-bottom: 12px;
width: 220px;
}

.inside_form {
	width: 400px;
	margin-left: 20px;
	margin-top: 10px;
}

.inside_form h4 {
	font-size: 15px;
}

.inside_form label {
	font-size: 13px;
}

.spacer {
	height: 20px;
}

.radio {
	margin-left: 15px;
}

.btn {
	margin-top: 15px;
}
