#output_table {
	margin-top: 60px;
}

#output_table table {
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.30);
	box-shadow: 0px 0px 4px rgba(0,0,0,.30);
}

#output_table tr.heading_ {
	border-bottom: 1px solid #333;
}

#output_table td.heading_ {
	padding-top: 2px;
	padding-bottom: 2px;
}

#output_table td {
	width: 240px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

#output_table tr:nth-child(even) {
	background-color: #F5F5F5;
}

#output_table tr:nth-child(odd) {
	background-color: #fff;
}

.login-form {
	float: right;
	width: 250px;
	height: 180px;
	background: #fff;
	padding: 40px 20px 20px 50px;
	border-radius: 8px;

	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.30);
	box-shadow: 0px 0px 8px rgba(0,0,0,.30);
	margin-top: 60px;
}

.modal_win {
	width: 615px;
	height: 570px;
	background-color: #fff;
	border-radius: 4px;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	margin: auto;
	padding: 10px 2px;

	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.30);
	box-shadow: 0px 0px 20px rgba(0,0,0,.30);
}

.inside_modal_win {
	width: 100%;
	height: 450px;
	margin: auto;
}

.modal_pat_name {
	font-weight: normal;
	color: #666666;
}

.modal_date {
	font-weight: normal;
}

.modal_heading {
	width: 100%;
	height: 40px;
	padding-bottom: 5px;
}

.modal_heading h4 {
	float: left;
}

.modal_heading img {
	width: 32px;
	height: 32px;
	float: right;
	vertical-align: middle;
	margin-top: 5px;
	margin-right: 15px;
}

.left_arrow {
	float: left;
	width: 50px;
	height: 512px;
	background-color: #D3D0D0;
}

.left_arrow img {
	vertical-align: middle;
	width: 64px;
	height: 64px;
	margin-top: 210px;
	margin-left: 7px;
}

.left_arrow:hover {
	cursor: pointer;
}

.right_arrow {
	float: right;
	width: 52px;
	height: 512px;
	background-color: #D3D0D0;
}

.right_arrow img {
	vertical-align: middle;
	width: 64px;
	height: 64px;
	margin-top: 210px;
	margin-left: -10px;
}

.right_arrow:hover {
	cursor: pointer;
}

.img_placeholder {
	float: left;
	width: 512px;
	height: auto;
	position: relative;
	z-index: 9999;
}

.img_placeholder img {
	width: 512px;
	height: 512px;
}

.svg_placeholder {
	position: fixed;
	margin-left: 50px;
	width: 512px;
	height: 512px;
	z-index: 10000;
}

.measure_placeholder {
	position: fixed;
	margin-left: 60px;
	margin-top: 5px;
	width: 512px;
	height: 512px;
	z-index: 10001;
}

#measure_ {
	position: fixed;
	margin-left: 5px;
	margin-top: 1px;
	width: 270px;
	height: auto;
	background: transparent;
	border-radius: 4px; /*box-shadow:  0px 0px 4px rgba(0,0,0,.30);
	*/
z-index: 10001;
}

.measure_ p {
	color: #ffff00;
	line-height: 15px;
	font-size: 13px;
}

.data_table_report_heading {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 5px;
}

.data_table_report_heading h2 {
	font-size: 18px;
	text-align: left;
}

.fda_info {
	width: 550px;
	height: auto;
	padding: 10px 20px 20px 20px;
	background-color: #fff;
	float: left;
	margin-top: 60px;
	border-radius: 8px;

	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.30);
	box-shadow: 0px 0px 8px rgba(0,0,0,.30);
}

.loader {
	width: 100px;
	height: 100px;
	background: transparent;
	z-index: 101;
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
}

.white_overlay {
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}

.dark_overlay {
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}

.modal_no_annotations {
	width: 460px;
	height: 70px;
	background-color: #fff;
	border-radius: 4px;
	display: none;
	position: fixed;
	top: 0;
	bottom: 100;
	left: 0;
	right: 0;
	z-index: 10000;
	margin: auto;
	padding: 10px 2px;

	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.30);
	box-shadow: 0px 0px 20px rgba(0,0,0,.30);
}

.inside_no_annotations {
	width: 450px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.inside_no_annotations p {
	font-style: italic;
	font-size: 22px;
	color: #999;
	line-height: 32px;
	margin-left: 40px;
}

.inside_no_annotations img {
	width: 32px;
	height: 32px;
	float: right;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 0px;
}
