body {
	background: url('../img/grid_02.jpg') repeat;
}

.breadcrumb {
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.30);
	box-shadow: 0px 0px 8px rgba(0,0,0,.30);
}

h2 {
	font-size: 14px;
	line-height: 10px;
}
