/*show_dicom_img_annotation.php*/
#annotation_container {
	width: 270px;
	height: auto;
	float: left;
	position: fixed; /*margin-left:  50px;
	*/
background: #fff;
	padding: 10px 10px 10px 30px;
	border-radius: 4px;

	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.30);
	box-shadow: 0px 0px 4px rgba(0,0,0,.30); /*margin-left:  30px;
	*/
}

#annotation_container p {
	display: inline;
	font-size: 13px;
	line-height: 30px;
}

#annotation_container .bold {
	font-weight: bold;
}

.spacer {
	width: 290px;
	height: 1px;
	border-bottom: 1px solid #999;
	padding: 0;
	margin-left: -20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#image_container {
	width: 550px;
	height: auto;
	/* height: 1596px; */
	margin-left: 350px;
}

#output_image {
	width: 512px;
	height: auto;
	position: relative;
	z-index: 99;
}

#output_svg {
	width: 512px;
	height: auto;
	margin-top: -1596;
	position: relative;
	z-index: 101;
	/*
	zoom: 1;
	top:-1596px;
*/
}

.image_ {
	width: 512px;
	height: 512px;
	padding-bottom: 20px;
}

.image_ img {
	-webkit-box-shadow: 0px 0px 15px #333;
	box-shadow: 0px 0px 15px #333;
	margin-bottom: 15px;
}

.svg_ {
	/*border: 1px solid green;
	*/
width: 512px;
	height: 512px;
	padding-bottom: 20px;
}

.levels {
	position: relative;
	margin-top: -526px;
	margin-left: 2px;
	width: 100px;
	height: auto;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 4px;

	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.30);
	box-shadow: 0px 0px 4px rgba(0,0,0,.30);
	z-index: 102; /*display:  none;
	*/
}

.levels td {
	padding-left: 5px;
}

.back_to_top {
	position: fixed;
	bottom: 10px;
	right: 35px;
	display: none;
}

.back_to_top img {
	height: 48px;
	width: 48px;
}

.back_to_top:hover {
	cursor: pointer;
}

.white_overlay {
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}

.dark_overlay {
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}
