#report_container {
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.30);
	box-shadow: 0px 0px 8px rgba(0,0,0,.30);
}

#report_output {
	width: 750px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.inside_report_output_heading {
	width: 650px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inside_report_output_heading h4 {
	margin-bottom: 20px;
}

.inside_report_output_table {
	width: auto;
	height: auto;
	padding-bottom: 15px;
}

.inside_report_output_table table {
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.30);
	box-shadow: 0px 0px 1px rgba(0,0,0,.30);
	border: 1px solid #999;
	border-collapse: collapse;
	margin-bottom: 15px;
}

.inside_report_output_table tr.heading_ {
	border-bottom: 1px solid #999;
}

.inside_report_output_table td.heading_ {
	padding-top: 2px;
	padding-bottom: 2px;
}

.inside_report_output_table td {
	width: 150px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	border-right: 1px solid #999;
}

.inside_report_output_table td img {
	height: 32px;
	width: 32px;
}

.inside_report_output_table tr:nth-child(even) {
	background-color: #F5F5F5;
}

.inside_report_output_table tr:nth-child(odd) {
	background-color: #fff;
}

/*.sop_link: hover
 {
	
background-color:  red;
	
}

*/
.image_go:hover {
	cursor: pointer;
}

.adobe_icon {
	height: 48px;
	width: 48px;
	float: right;
	margin-top: 20px;
}

.adobe_icon img {
	height: 50px;
	width: 50px;
}

.report_heading {
	width: 750px;
	height: 25px;
	margin: 0 auto;
}

.report_heading h2 {
	font-size: 18px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.loader {
	width: 100px;
	height: 100px;
	background: transparent;
	z-index: 101;
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
}

.white_overlay {
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}

.dark_overlay {
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: none;
}

.buttons_bottom {
	width: 800px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.inside_report_output_table p {
	font-size: 14px;
	color: #d14;
	margin-bottom: 15px;
}
